

.navbar{
    background-color: #E7F1FF !important;
    margin-bottom: 3%;
}

img{
    margin: 20px;
}

footer{
    margin-top: 5%;
    background-color: black;
    color: white;
    height: 6rem;
    padding: 2rem;
    text-align: center;
}

.text-center{
    padding: 24px;
    font-size: 1.5rem;
}

.icon{
    color: black;
}

div{
    margin: 24px;
}

.container_contact{
    margin-top: 136px;
}

